
#body {
    background-image: url(https://template59196.motopreview.com/mt-demo/59100/59196/mt-content/uploads/2016/09/mt-0583_background.jpg);
    /* background-image: url("/w3images/photographer.jpg"); */
    /* background-color: #cccccc; */
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#titleContent {
    padding-top: 100px;
    font-family: 'Berkshire Swash';
    /* font-size: 40px; */
    color: #613c41;
}

#titleContent2 {
    font-family: 'Berkshire Swash';
    /* font-size: 40px; */
    color: #ec495e;
}

#contentFluid {
    background-image: url(https://template59196.motopreview.com/mt-demo/59100/59196/mt-content/uploads/2016/10/mt-0583_call2.jpg);
    height: 550px;
    background-position: absolute;
    background-position-x: right;
    background-position-y: bottom;
    background-repeat: no-repeat;
    font-family: 'Berkshire Swash';
    color: #613c41;
    transform: translateY(25px);
}

#container {
    width: 400px;
    height: 400px;
}

#container2 {
    width: 400px;
    height: 400px;
}