#title {
    font-family: 'Lobster', cursive;
    color: #613c41;
}

#titleContent {
    padding-top: 100px;
    font-family: 'Berkshire Swash';
    font-size: 40px;
    color: #ec495e;
    /* color: #613c41; */
}

#titleContent2 {
    font-family: 'Berkshire Swash';
    font-size: 40px;
    color: #ec495e;
}
